@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Merienda:wght@700&display=swap');
$font-family: 'Jost', sans-serif;
$font-family: 'Merienda', cursive;

.header {
  color: white;
  font-family: 'Merienda', cursive;
}

.color {
    color: white;
    font-family: 'Merienda', cursive;
}