@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Merienda:wght@700&display=swap');
$font-family: 'Jost', sans-serif;
$font-family: 'Merienda', cursive;
$xbold-weight: 800;

.mb-3 {
    font-family: 'Merienda', cursive !important;
    font-size: 60px !important;

}

label {
    font-weight: $xbold-weight !important;
    font-size: 25px;
    color: white;

}


element.style {
    margin: 0px;
    height: 330px;
    width: 937px;
}